.event-title {
    height: 48px;
}

.hover-info {
    background-color: #aaff7f;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ff00ff;
    width: 200px;
    border-radius: 5px;
}

.c-pointer {
    cursor: pointer;
}

.event-modal {
    color: #222222;
    padding: 0 !important;
}
.event-modal h2 {
    text-shadow: none;
}
@media (min-width: 768px) {
    .modal-70w {
        max-width: none !important;
        width: 70%;
    }
}
@media (max-width: 768px) {
    .rate-up-row {
        display: block !important;
    }
}
.center-modal {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkboxes h4 {
    font-weight: bold;
}

.amount {
    font-size: 2rem;
    margin: 0;
}

.info-svt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.svt-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.event-img {
    filter: drop-shadow(0 0 0.25rem rgb(255, 255, 255));
}

.event-img:hover {
    transition: 0.5s;
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}